:host {
    display: grid;
    justify-content: center;
    margin: 100px auto;
}

.container{
    justify-content: center;
}

mat-form-field {
    width: 100%;
    margin-bottom: 20px;
}

mat-card-title{
    margin-bottom: 20px;
    background-color:  #3f51b5;
}

.button {
    display: flex;
    justify-content: flex-end;
}

.box{
    box-shadow: 0px 2px 1px -1px rgb(0 0 0 / 20%), 0px 1px 1px 0px rgb(0 0 0 / 14%), 0px 1px 3px 0px rgb(0 0 0 / 12%);
    margin: 16px;
    height: fit-content;
}

.title{
    background-color: #3f51b5;
    color: #fff;
    padding: 16px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

.file{
    padding: 16px;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
}

table {
    width: 100%;
  }


