:host{
    margin: 20px;
}
mat-form-field {
    width: 100%;
    margin-bottom: 20px;
}
.mat-flat-button.mat-primary, .mat-raised-button.mat-primary, .mat-fab.mat-primary, .mat-mini-fab.mat-primary {
    background-color: #B4A888;
    color: #fff;
}


