<app-spinner></app-spinner>
<div>
    <mat-toolbar color="primary" *ngIf="this.userService.logIn() == true">
        <div fxShow="true" fxHide.gt-sm="true">
            <button mat-icon-button (click)="sidenav.toggle()">
                <mat-icon>menu</mat-icon>
            </button>
        </div>

        <a mat-button class="companyName" routerLink="/">
            <h2>Proyecto Foto</h2>
        </a>
        <span class="example-spacer"></span>
        <div fxShow="true" fxHide.lt-md="true">
            <a mat-button routerLink="add-file" routerLinkActive='active'>Carpetas</a>
            <a mat-button routerLink="add-photo" routerLinkActive='active'>Ingresar Fotos</a>
            <a mat-button routerLink="generate-csv" routerLinkActive='active'>Generar CSV</a>
            <a mat-button href="#" (click)="logout()">Salir</a>
        </div>
    </mat-toolbar>
    <mat-sidenav-container fxFlexFill class="example-container">
        <mat-sidenav color="primary" #sidenav fxLayout="column" mode="over"  opened="false" fxHide.gt-sm="true">
            <div fxLayout="column">
                <a mat-button routerLink="add-file" routerLinkActive='active'>Carpetas</a>
                <a mat-button routerLink="add-photo" routerLinkActive='active'>Ingresar Fotos</a>
                <a mat-button routerLink="generate-csv" routerLinkActive='active'>Generar CSV</a>
                <a mat-button href="#" (click)="logout()">Salir</a>
            </div>
        </mat-sidenav>
        <mat-sidenav-content fxFlexFill>
            <router-outlet></router-outlet>
        </mat-sidenav-content>
    </mat-sidenav-container>
</div>




