<div class="container" fxFlex.xs="90" fxFlex.sm="70" fxFlex.md="50" fxFlex="30">
    <div class="title">
        <h2>Wapas La Serena - Fotos</h2>
    </div>
    <div class="login">
        <mat-card-content>
            <form [formGroup]="userForm" (ngSubmit)="login(userForm.value)">
                
                <mat-form-field>
                    <input formControlName="user" placeholder="Usuario" matInput>
                </mat-form-field>
            
                <mat-form-field>
                    <input formControlName="password" placeholder="Contraseña" matInput [type]="hide ? 'password' : 'text'">
                    <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button>
                </mat-form-field>
                
                <div class="button">
                    <button mat-raised-button class="button">Iniciar Sesión</button>
                </div>
            </form> 
        </mat-card-content>     
    </div>
</div>
<notifier-container></notifier-container>