<div class="container" fxLayout="row" fxLayout.sm="column" fxLayout.xs="column" fxFlex="100">
    <div class="box" fxFlex.xs="90"  fxFlex.sm="100" fxFlex.md="100" fxFlex="20">
        <div class="title">
            <h2>Agregar Carpeta</h2>
        </div>
        <div class="file">
            <mat-card-content>
                <form [formGroup]="groupForm" (ngSubmit)="addGroup(groupForm.value)">
                    <mat-form-field>
                        <input formControlName="name" placeholder="Nombre" matInput>
                    </mat-form-field>
                    
                    <div class="button">
                        <button mat-raised-button color="primary">Crear Carpeta</button>
                    </div>
                </form> 
            </mat-card-content>     
        </div>
    </div>

    <div fxFlex.xs="90" fxFlex.sm="100" fxFlex.md="100" fxFlex="40">
        
        <div class="file">
            
                <div class="mat-elevation-z8">
                    <table mat-table [dataSource]="dataSource">
                  
                      <!-- Position Column -->
                      <ng-container matColumnDef="id">
                        <th mat-header-cell *matHeaderCellDef> ID </th>
                        <td mat-cell *matCellDef="let element"> {{element.id}} </td>
                      </ng-container>
                  
                      <!-- Name Column -->
                      <ng-container matColumnDef="name">
                        <th mat-header-cell *matHeaderCellDef> Carpeta </th>
                        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
                      </ng-container>
                  
                      <!-- Weight Column -->
                      <ng-container matColumnDef="accion">
                        <th mat-header-cell *matHeaderCellDef></th>
                        <td mat-cell *matCellDef="let element">
                            <button mat-mini-fab color="warn" style="float: right;" (click)="openDeleteDialog(element.id)"><mat-icon>remove</mat-icon></button>
                        </td>
                      </ng-container>
                  
                  
                      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                    </table>
                  
                    <mat-paginator [pageSizeOptions]="[5, 10, 20]"
                                   showFirstLastButtons 
                                   aria-label="Select page of periodic elements">
                    </mat-paginator>
                  </div>
               
        </div>
    </div>
</div>
<notifier-container></notifier-container>
