<h1 mat-dialog-title>Editar Producto</h1>
<form [formGroup]="productForm">
    <mat-dialog-content>
        <mat-form-field>
            <input type="number" formControlName="price" placeholder="Precio" id="price" matInput>
        </mat-form-field>

        <mat-form-field>
            <textarea formControlName="description" placeholder="Descripcion" id="description" matInput></textarea>
        </mat-form-field>

        <mat-form-field>
            <mat-label>Carpeta</mat-label>
            <mat-select formControlName="group">
                <mat-option *ngFor="let group of groups" [value]="group.id">
                    {{group.name}}
                </mat-option>
            </mat-select>
        </mat-form-field>

        <div>
            <input type="file" class="file-input" accept=".png, .jpg, .jpeg" (change)="onFileSelectedProduct($event)"
                #fileUpload [disabled]="!productForm.valid">
            <div class="file-upload">{{fileName || "No file uploaded yet."}}
                <a mat-mini-fab color="primary" class="upload-btn" (click)="fileUpload.click()">
                    <mat-icon>attach_file</mat-icon>
                </a>
            </div>
        </div>
        <canvas id="imageCanvas" class="d-none"></canvas>
    </mat-dialog-content>

    <mat-dialog-actions>
        <button mat-button (click)="onNoClick()">Cancelar</button>
        <button mat-raised-button color="primary" (click)="updateProduct(productForm.value)" [disabled]="!productForm.valid">Actualizar</button>
    </mat-dialog-actions>
</form>