.sub-menu {
    width: 100%;
    padding: 10px 0 10px 0;
    display: table;
    margin: 0;
    background-color: #F2EEE3;
}
.title {
    display: table-cell;
    font-size: 20px;
    padding: 0 16px;
    width: 74%;
}

.example-button-row {
    display: table-cell;
    text-align: right;
}



.csv {
    margin: 8px 8px 8px 0;
    color: #fff;
    background: #388E3C;
}
.zip{
    margin: 8px 8px 8px 0;
}
.carpeta {
    margin: 8px 8px 8px 0;
    color: #fff;
    background: #B4A888;
}

.content {
    padding: 16px;
    height: 100%;
}

.content>mat-card {
    width: 200px;
}

.mat-fab {
    margin: 5px;
    background-color: #B4A888;
    color: #fff;
}

.mat-form-field {
    font-size: 14px;
    margin-right: 8px;
}


.content-button {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 20px 0;
}