.content {
  padding: 16px;
  height: 100%;
}

.content > mat-card {
  width: 200px;
}

.example-spacer {
  flex: 1 1 auto;
}

.column-label {
  margin-right: 8px;
  font-size: 1rem;
}
.csv{
  margin-right: 16px;
  color: #fff; 
  background: #388E3C; 
}
.carpeta{
  margin-right: 16px;
  color: #fff; 
  background: #3f51b5; 
}

.mat-form-field{
  font-size: 14px;
  margin-right: 8px;
}


.content-button{
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: 20px 0;
}

.mat-fab{
  margin: 5px;
}


